@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://www.michaelvenerus.com/projects.html#projects-main" target="_blank">← Back to my portfolio</a>
            <p>Michael Venerus AI-powered online img2txt</p>
        </div>

        <div class="main-content">
            <article class="content">
                @Body
            </article>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
