.home-page {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 90vh;
    background-color: #ffffff;
}

.main-content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin-top: 8rem;
}

.analysis-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.analysis-result img {
    width: 400px;
}

.analysis-text-container {
    width: 400px;
}

.text-caption {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 25px 0;
    text-align: center;
    text-transform: capitalize;
}

.big-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 6rem;
    align-items: center;
}

.instructions {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 100%;
    font-weight: 500;
    text-align: start;
    margin-bottom: 2rem;
}

h1.name {
    font-size: 3.5rem;
    font-weight: 700;
    width:49%;
}

h1.title {
    font-size: 2.2rem;
    font-weight: 700;
    width: 49%;
    padding-top: 0.7rem;
}

.line {
    width: 3px;
    height: 130px;
    background-color: #000000;
    margin: 1rem 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.buttons button {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.reset-button button {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #5e5e5e;
    color: white;
    border: none;
    cursor: pointer;
}